/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
}

.portfolio h3 {
	text-align: center;
	font-size: 2.75em;
	font-weight: bold;
	font-family: cursive;
	color: silver;
	padding: 10px 5px 10px 5px;
}

.container h1 {
	color: rgb(167, 106, 224);
	font-size: 4em;
	align: left;
	padding-right: 1250px;
	font-family: cursive;
}

.container {
	display: flex;
	justify-content: center;
	align-content: center;
}

.container .button-text {
	width: 100px;
	height: 30px;
	background: blanchedalmond;
	border: 1px solid rgb(216, 211, 211);
	text-decoration: none;
	color: rgb(167, 106, 224);
	font-size: 15px;
	padding: 7.5px;
	text-align: center;
	font-weight: bold;
	font-family: 'Arial Narrow Bold'
}

.flex-container {
	display: flex;
	justify-content: center;
	align-content: center;
	max-width: 100%;
	height: auto;
	padding: 50px;
}

.pictures-container p.pictures-set-1 img {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.pictures-container p.pictures-set-2 img {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;	
}

.second-container {
	display: flex;
	background-color: blanchedalmond; justify-content: center;
	align-items: center;
	height: 140px;
	width: auto;
}

.second-container #contact {
	display: inline-flex;
	align-content: center;
	background: silver;
	border: 1px solid rgb(216, 211, 211);
	text-decoration: none;
	margin: 10px 300px 10px 300px;
	padding: 7.5px;
	color: white;
	text-decoration: none;
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	font-family: 'Arial Narrow Bold';
}